body
{
	font-family: 'Proxima Nova', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #A2B2A3;
}

#nv
{
	width: 100%;
	background-color: #ACC2E0;
	border-bottom: 1px solid #89A7D0;
	box-shadow: 0px 0px 10px #888888;
}
#nvwrap
{
	margin: 0 auto;
	width: 80%;
}
#nv ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#nv li
{
	float: left;
	min-width: 100px;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#nv li:hover
{
	background-color: #8BBCFF;
}

#nav ul
{
	display: none;
}
#nav ul>li
{
	background-color: #8BBCFF;
	height: 100%;
	width: inherit;
}
#nav li:hover > ul
{
	display: block;
}
#nv a
{
	display: block;
}
#nv a, #nv a:hover, #nv a:active
{
	text-decoration: none;
	color: inherit;
}

#container
{
	background-color: #EEE;
	margin: 0 auto;
	width: 80%;
	padding: 10px;
}
#uprofile_name
{
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}
#uprofile_username
{
	margin: 0.1em;
	color: #BABABA;
}
#uprofile_pic
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 260px;
	float: right;
	position: relative;
	top: -10px;
}

.p_userpreview
{
	display: inline-block;
	margin: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	color: black;

	background-color: rgba(129,129,129,0.2);
	cursor: pointer;
	width: 96px;
}
.p_userpreview:hover
{
	background-color: black;
	color: white;
}

.p_userpreview img
{
	width: 94px;
	height: 94px;
}

.p_userpreview p
{
	position: relative;
	text-align: center;
	margin: 0;
	padding: 0;
}

.p_userpreview a,.p_userpreview a:visited
{
	text-decoration: none;
	color: inherit;
}

#usernotifymessage
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(246, 252, 255, 0.95);
	border-left: 5px solid #2F96E8;
	border-top: 0;
	border-bottom: 1px solid #2F96E8;
	border-right: 0;
	font-size: 20pt;
	padding: 5px 1px 1px 12px;
	cursor: pointer;
}
#usernotifymessage:hover
{
	background-color: rgba(228, 246, 255, 0.98);
}

#profilePictureFileUploadDialog
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 40%;
	padding: 10px;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	border-radius: 20px;
}


.property
{
	display: inline-block;
	margin: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	color: #FFFFFF;
	
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(80,100,100,0.3);
}
.property:hover
{

}

.tag
{
	background-color: #3D95D5;
	border: 2px solid #5254EC;
}
.badge
{
	background-color: #FFB164;
	border: 2px solid #FF8241;
}