body
{
	font-family: 'Proxima Nova', sans-serif;
}

#container
{
	background-color:#EEEEEE;
	margin: 0 auto;
	width: 80%;
	padding: 10px;
}
#uprofile_name
{
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}
#uprofile_username
{
	margin: 0.1em;
	color: #BABABA;
}
#uprofile_pic
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 260px;
	float: right;
	position: relative;
	top: -20px;
}

.p_userpreview
{
	display: inline-block;
	margin: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	color: black;

	background-color: rgba(129,129,129,0.2);
	cursor: pointer;
	width: 96px;
}
.p_userpreview:hover
{
	background-color: black;
	color: white;
}

.p_userpreview img
{
	width: 94px;
	height: 94px;
}

.p_userpreview p
{
	position: relative;
	text-align: center;
	margin: 0;
	padding: 0;
}

.p_userpreview a,.p_userpreview a:visited
{
	text-decoration: none;
	color: inherit;
}

.property
{
	display: inline-block;
	margin: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	color: #FFFFFF;
	
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(80,100,100,0.3);
}
.property:hover
{

}

.tag
{
	background-color: #3D95D5;
	border: 2px solid #5254EC;
}
.badge
{
	background-color: #FFB164;
	border: 2px solid #FF8241;
}